@import url("observablehq:default.css");
@import url("observablehq:theme-air.css");

#content p {
  margin-top: 0;
  margin-bottom: 4px;
}

#content details:not(.code) {
  padding-top: 10px;
  padding-bottom: 10px;
}

#observablehq-main {
  max-width: 2500px;
}

#observablehq-center {
  margin: 0.8rem;
}

input#observablehq-sidebar-toggle::before {
  height: 2rem; /* stand out for mobile; but I reclaimed that space */
}

pre {
  white-space: pre-wrap;
}

label {
  font-weight: bold;
}

.lhs details {
  margin:10px 0; /* 0->6px creates a indentation effect */
}

details[open] > summary.calculang {
  background: #aaa4;
  cursor: zoom-out;
  /*border: 1px dotted orange;*/
}

details > summary {
  user-select: none;
}

details > summary.calculang {
  border: 1px dashed orange;
  background: #faa4;
  cursor: zoom-in;
}

details > summary.calculang {
  font-weight: bold;
}

.wrapper {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  //gap: 1rem;
}

.lhs:has(div details.calculang:not([open])) {
  width: 150px;
  opacity: 0.6;
  transition: width 100ms ease-out opacity 200ms linear;
}

.lhs:has(div details.calculang:not([open])):hover {
  opacity: 1;
  transition: width 200ms linear, opacity 60ms linear;

}

.observablehq-pre-container {
  margin: 1rem 0; /* -1rem -> 0 */
}

pre {
  margin: 1rem 0;
}

.wrapper > div {
  padding: 0.5rem;
  /*max-height:50vh;*/
  border-radius: 20px;
  /*height: fit-content;*/height: 80vh;
  width: 95%;
  transition: width 200ms ease-out;
}


.lhs, #content {
  display: flex;
  flex-flow: column;
}

#content {
  background: pink;
}

.lhs {
  background: lightgreen;
}


.grow {
  flex-grow: 1;
  min-height: 100px;
}

.f {
  max-height: 60vh;
  min-height: 100px;
}




.calculang_title:not(.calculang_title_input) {
  background-color: hsl(100, 50%, 90%);
  border-radius: 2px;
  //font-weight: bold;
}
.calculang_title.calculang_title_input {
  background-color: hsl(300, 60%, 90%);
  border-radius: 2px;
  //font-weight: bold;
}
/*.calculang_call:not(.calculang_call_input) {
  background-color: hsl(100, 50%, 90%);
  border-radius: 3px;
}
.calculang_call.calculang_call_input {
  background-color: hsl(300, 60%, 90%);
  border-radius: 3px;
}*/
.calculang_call {
  background-color: hsl(300, 60%, 97%); /* I think better to try make distinction about formula/input using titles */
}


@keyframes flash {
  from { background-color: var(--theme-blue); }
  to { background-color: none; }
}
.flash {
  animation-name: flash;
  animation-duration: 500ms;
}
@keyframes flashout {
  from {
    background-color: pink;
  }
  to {
    margin-top: -20px;
    opacity: 0.01;
    visibility: hidden;
    display: none;
    animation-timing-function: cubic-bezier(0.36, 0.97, 1, 1);
  }
}
.flashout {
  animation-name: flashout;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

.code > summary {
  opacity: 0.6;
  font-size: 0.8em;
  font-family: monospace;
}
.code > summary:hover {
  opacity: 1;
  font-size: 0.8em;
  font-family: monospace;
}

.code > summary::marker {
  content: '' 
}

pre {
  white-space: pre;
}

.cm-tooltip {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  //color: green;
}

/* support hot reload and grid layout (remove empty OJS blocks added by TEMPLATE.md */
/*div:has(> div.hide-empty-block) {
  display: none;
} better alt is wrapping in a div with display:none*/
